SHRIMP/SHRIMP_PRAWN.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
           attributeFormDefault="unqualified" 
           elementFormDefault="qualified" 
           targetNamespace="https://raw.githubusercontent.com"
           xmlns="https://raw.githubusercontent.com">
    <xs:annotation>
        <xs:documentation xml:lang="en">
            This schema defines the contents of a SHRIMP PRAWN data file.

            Created: 24.October.2015
            Revised: 
            
        </xs:documentation>
    </xs:annotation>    
    <xs:element name="prawn_file">
        <xs:complexType>
            <xs:sequence>
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Session parameters
                    </xs:documentation>
                </xs:annotation>    
                <!-- Control software version-->
                <xs:element name="software_version" type="xs:string" />
                <!-- A ‘run’ is an analysis of a sample. This value indicates the number of analyses contained in the file. Useful for checking.-->                
                <xs:element name="runs" type="xs:unsignedByte" />
                <!-- The control software provides space to include comments in the data file. Rarely used as comments are usually recorded elsewhere.-->
                <xs:element name="session_quality" type="xs:string" />
                <!-- The control software provides space to include comments in the data file. Rarely used as comments are usually recorded elsewhere-->
                <xs:element name="session_comments" type="xs:string" />
                <!-- The name or number of the mount being analysed. Recorded as part of the session information in the control software-->
                <xs:element name="mount" type="xs:string" />
                <!-- An analysis-->
                <xs:element maxOccurs="unbounded" name="run">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:annotation>
                                <xs:documentation xml:lang="en">
                                    Run parameters - see type RunParameterNames for enumeration.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:element maxOccurs="unbounded" name="par">
                                <xs:complexType>
                                    <xs:attribute name="name" type="RunParameterNames" use="required" />
                                    <xs:attribute name="value" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="run_table">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="entry">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:annotation>
                                                        <xs:documentation xml:lang="en">
                                                            Run Table Entry parameters - see type RunTableEntryParameterNames for enumeration.
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:element maxOccurs="unbounded" name="par">
                                                        <xs:complexType>
                                                            <xs:attribute name="name" type="RunTableEntryParameterNames" use="required" />
                                                            <xs:attribute name="value" type="xs:string" use="required" />
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="entries" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="parameters" type="xs:unsignedByte" use="required" />
                                    <xs:attribute name="sample_name" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="set">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="par">
                                            <xs:complexType>
                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                <xs:attribute name="value" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="unbounded" name="scan">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="measurement">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="unbounded" name="par">
                                                                    <xs:complexType>
                                                                        <xs:attribute name="name" type="xs:string" use="required" />
                                                                        <xs:attribute name="value" type="xs:string" use="required" />
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="unbounded" name="data">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute name="name" type="xs:string" use="required" />
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="number" type="xs:unsignedByte" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="RunParameterNames">
        <xs:restriction base="xs:string">
            <!-- The identification of the analysis. Typically it is ‘sample ID · grain number · spot number on grain’-->
            <xs:enumeration value="title"/>
            <!-- As a historical holdover, it is possible to conduct multiple ‘sets’ of analyses on the same analytical spot. This is rarely done for typical U-Pb work, and this value will be ‘1’ in nearly all instances.-->
            <xs:enumeration value="sets"/>
            <!-- The number of mass species being analysed in this run as described in the run table. It is possible to change the number of mass species during a session, but it is not common practice as it makes the file difficult to process in one go. Therefore this is a useful value to check to make sure that all the ‘runs’ in the file are compatible.-->
            <xs:enumeration value="measurements"/>
            <!-- The number of ‘scans’ is the number of times the mass species run table has been repeated for this analysis. Typically 5 to 7, although can range more widely for non U-Pb or experimental work.-->
            <xs:enumeration value="scans"/>
            <!-- The value set in the control software used to correct counting for dead time in the detector.-->
            <xs:enumeration value="dead_time_ns"/>
            <!-- The zero value of the secondary beam monitor set by blanking the beam and measuring the resulting ‘dark’ current in the secondary beam monitor. Subtracted from all SBM counts.-->
            <xs:enumeration value="sbm_zero_cps"/>           
            <!-- Description-->           
            <xs:enumeration value="autocentering"/>
            <!-- Description-->           
            <xs:enumeration value="qt1y_mode"/>
            <!-- Description-->           
            <xs:enumeration value="deflect_beam_between_peaks"/>
            <!-- Description-->           
            <xs:enumeration value="autocenter_method"/>
            <!-- Description-->           
            <xs:enumeration value="stage_x"/>
            <!-- Description-->           
            <xs:enumeration value="stage_y"/>
            <!-- Description-->           
            <xs:enumeration value="stage_z"/>
            <!-- Description-->           
            <xs:enumeration value="stage_map_quad_cal"/>
            <!-- Description-->           
            <xs:enumeration value="stage_map_cal"/>
            <!-- Description-->           
            <xs:enumeration value="detector_gains"/>
            <!-- Description-->           
            <xs:enumeration value="detector_zero_cps"/>
            <!-- Description-->           
            <xs:enumeration value="eisie_1_cps"/>
            <!-- Description-->           
            <xs:enumeration value="eisie_2_cps"/>
            <!-- Description-->           
            <xs:enumeration value="eisie_3_cps"/>
            <!-- Description-->           
            <xs:enumeration value="eisie_1_date_time"/>
            <!-- Description-->           
            <xs:enumeration value="eisie_2_date_time"/>
            <!-- Description-->           
            <xs:enumeration value="eisie_3_date_time"/>
            <!-- Description-->           
            <xs:enumeration value="primary_names"/>
            <!-- Description-->           
            <xs:enumeration value="primary_bits"/>
            <!-- Description-->           
            <xs:enumeration value="primary_volts"/>
            <!-- Description-->           
            <xs:enumeration value="secondary_names_bits"/>
            <!-- Description-->           
            <xs:enumeration value="secondary_bits"/>
            <!-- Description-->           
            <xs:enumeration value="secondary_names_volts"/>
            <!-- Description-->           
            <xs:enumeration value="secondary_volts"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="RunTableEntryParameterNames">
        <xs:restriction base="xs:string">
            <!-- Description-->
            <xs:enumeration value="label"/>
            <!-- Description-->
            <xs:enumeration value="amu"/>
            <!-- Description-->
            <xs:enumeration value="trim_amu"/>
            <!-- Description-->
            <xs:enumeration value="autocenter_offset_amu"/>
            <!-- Description-->
            <xs:enumeration value="count_time_sec"/>
            <!-- Description-->
            <xs:enumeration value="delay_sec"/>
            <!-- Description-->
            <xs:enumeration value="collector_focus"/>
            <!-- Description-->
            <xs:enumeration value="centering_time_sec"/>
            <!-- Description-->
            <xs:enumeration value="centering_frequency"/>
            <!-- Description-->
            <xs:enumeration value="detector_selection"/>
            <!-- Description-->
            <xs:enumeration value="mc_lm_pos"/>
            <!-- Description-->
            <xs:enumeration value="mc_hm_pos"/>
            <!-- Description-->
            <xs:enumeration value="sc_reference"/>
            <!-- Description-->
            <xs:enumeration value="sc_detector"/>
        </xs:restriction>
    </xs:simpleType>
    
</xs:schema>
